<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css/bundle")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-2"></div>
            <h1 class="col-sm-3 col-lg-2"><span style="font-weight: bold;">ISU</span>Corp</h1>
            <p class="col-sm-5 lead">World Class <br /> Software Development</p>
        </div>
    </div>
    <div class="row pageInfo">
        <div class="col-sm-2"></div>
        <h3 class="col-sm-3 col-lg-2" style="color: #bb0000;">Create Reservation</h3>
        <h4 class="col-sm-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer"> </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
