@model  List<MijemApplication.ViewModels.ContactsViewModel>

@{
    ViewBag.Title = "Reservation List";
}

<div class="container tableContainer">
    <table class="table" id="contactTable">
        <thead>
            <tr>
                <th>
                    Contact Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Contact Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeName)
                    </td>
                    <td>
                        @Html.ActionLink("EDIT", "Edit", new { vm = item }, new { @class = "btn btn-normal" })
                        @Html.ActionLink("DELETE", "Delete", new { id = item.ContactId }, new { @class = "btn btn-normal" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquerydataTables")
    <script>
        $(document).ready(function () {
            $('#contactTable').DataTable({
                "columnDefs": [{
                    "targets": 4,
                    "orderable": false
                }], 
                bInfo: false,
                bLengthChange: false
            });
            $("#createButton").css("display", "inline");
        });
    </script>
}