@model  List<MijemApplication.ViewModels.ContactsViewModel>

@{
    ViewBag.Title = Resources.ReservationList;
}

<div class="container tableContainer table-responsive">
    <table class="table" id="contactTable">
        <thead>
            <tr>
                <th>
                    @Resources.ContactName
                </th>
                <th>
                    @Resources.PhoneNumber
                </th>
                <th>
                    @Resources.BirthDate
                </th>
                <th>
                    @Resources.ContactType
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeName)
                    </td>
                    <td>                        
                        <button type="button" class="btn btn-normal" onclick="deleteContact(@item.ContactId, '@item.ContactName')"><span class="fa fa-trash-o"></span></button>
                        @Html.ActionLink(Resources.Edit, "Edit", "Contacts", new { id = item.ContactId }, new { @class = "btn btn-normal" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquerydataTables")
    <script>
        var table;
        
        $(document).ready(function () {
            table = $('#contactTable').DataTable({
                "columnDefs": [{
                    "targets": 4,
                    "orderable": false
                }], 
                bInfo: false,
                bLengthChange: false,
                language: navigator.language
            });
            $("#createButton").css("display", "inline");
        });
        //deletes clicked on entry
        function deleteContact(id, name) {
            bootbox.confirm({
                title: "Delete Contact",
                message: "Are you sure you want to delete '" + name + "' as a contact? This cannot be undone.",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            method: "GET",
                            url: '@Url.Action("DeleteConfirmed")',
                            data: {
                                id: id
                            },
                            success: function () {
                                location.reload();
                            }
                        });
                    }
                }
            });
        }
    </script>
}